# Install all packages we need

#i am using uv for install if i don't have remove uv from the start or do pip install uv
uv pip install django==4.2.0
uv pip install djangorestframework==3.14.0
uv pip install django-cors-headers==4.3.0
uv pip install psycopg2-binary==2.9.9
uv pip install redis==5.0.1
uv pip install celery==5.3.4
uv pip install django-channels==4.0.0
uv pip install channels-redis==4.1.0
uv pip install python-decouple==3.8
uv pip install djangorestframework-simplejwt==5.3.0
uv pip install anthropic==0.23.1
uv pip install Pillow==10.0.0


